body {
    background-color: #fff;
}

/* header */

header {
    min-height: 100px;
}

.sony-logo {
    width: 100px;
}

.play-logo {
    width: 65px;
}

/* main */

/* jumbo */

#jumbo {
    background: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    padding: 30px;
}

.returnal-logo {
    width:  calc(280px + 1.5vw);
    margin-top: 200px;
}

.custom-width {
    width: 220px;
    margin: 0 auto;
}

.ok {
    max-width: 100%;
}