body {
    background-color: #fff;
}

/* header */

header {
    min-height: 100px;
    width: 100%;
}

.sony-logo {
    width: 100px;
}

.play-logo {
    width: 60px;
}

/* main */

/* generics */

img {
    max-width: 90%;
}

/* jumbo */

#jumbo {
    background: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    padding: 30px;
}

.returnal-logo {
    width:  calc(280px + 1.5vw);
    margin-top: 200px;
}

.custom-width {
    width: 220px;
    margin: 0 auto;
}

/* play-5 */

.custom-width-play {
    width: 400px;
    margin: 0 auto;
}

/* new */

#new-exit {
    background: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    padding: 30px;
}

.two-logo {
    width:  calc(280px + 1.5vw);
}

/* store */

.padding-custom {
    padding: 30px 0px 20px;
}

.custom-plus-width {
    width: 500px;
}

.custom-plus-width-2 {
    width: 520px;
}

.bg-custom-store {
    background-color: #161C3B;
}

/* footer */

.bg-custom-footer {
    background-color: #00439C;
}

.custom-footer-width {
    width: 160px;
}